<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="15c267e7-62ad-45fd-a811-ad916521ffa0" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://petstore.swagger.io" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="15c267e7-62ad-45fd-a811-ad916521ffa0fileName">https%3A%2F%2Fpetstore.swagger.io</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>https://petstore.swagger.io</con:endpoint>
  </con:endpoints>
</con:interface>
